@import "utils";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.title {
  display: none;
}


#layout {
  color: blue;
  max-width: $max_width;
  min-width: $breakpoint_mobile;
  border: 1px solid black;
  border-radius: $border_style;
}

.header {
  background-color: grey;
  height: 83px;
  line-height: 83px;
  border-bottom: 1px solid red;
  text-align: center;
  padding: 10px;
}

.createPost {
  text-align: center;
  background-color: burlywood;
}

.newPost {
  cursor: pointer;
  background-color: coral;
  border-radius: $border_style;
  padding: 20px 100px;
  line-height: 80px;
}

.postList {
  background-color: palevioletred;
}

.post {
  list-style: none;
  padding: 10px;
  background-color: white;
  border-radius: $border_style;
  border: 1px solid black;
  display: flex;
  margin: 0px 20px 5%;
  box-shadow: 1px 3px 15px rgb(0 0 0 / 15%);
  height: 90px;
}

.innerPost {
  display: flex;
  gap: 20px;
}

article {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  padding-top: 10px;
}

strong {
  width: 200px;
  @include ellipsis;
}

p {
  width: 350px;
  @include ellipsis;
}

.pencil {
  width: 24px;
  margin-right: 10px;
}

.randomImg {
  width: 76px;
  height: 76px;
  border-radius: $border_style;
  object-fit: cover;
}

@include mobile {
  body {
    margin: 0 auto;
  }
  #layout {
    width: 90%;
    margin: auto;
  }
  h2 {
    width: 100%;
  }
  strong{
    width: 140px;
  }
  p {
    width: 250px;
  }
}

@include tablet {
  body {
    display: flex;
    justify-content: center;
  }
}
@include desktop {
  body {
    display: flex;
    justify-content: center;
  }
}