@import "utils";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

.title {
  display: none;
}

#layout {
  margin: 10px 0px;
  background-color: #a9f5e6;
  max-width: $max_width;
  min-width: $breakpoint_mobile;
  border: 1px solid rgb(182, 180, 180);
  margin: 10px 0px;
}

.header {
  line-height: 83px;
  text-align: center;
  padding: 10px;
}

.createPost {
  margin: 0px 100px 20px 100px;
  background-color: #fdfdbd;
  box-shadow: 1px 3px 15px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.newPost {
  color: black;
  line-height: 60px;
  font-weight: bold;
  font-size: large;
  border: 1px solid rgb(239, 234, 234);
  box-shadow: 1px 3px 15px rgb(0 0 0 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post {
  list-style: none;
  padding: 10px;
  background-color: white;
  display: flex;
  margin: 0px 20px 5%;
  border: 1px solid rgb(182, 180, 180);
  box-shadow: 1px 3px 15px rgb(0 0 0 / 15%);
  height: 90px;
}

.innerPost {
  display: flex;
  gap: 20px;
}

article {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  padding-top: 10px;
  color: black;
}

strong {
  width: 200px;
  @include ellipsis;
}

p {
  width: 350px;
  @include ellipsis;
}

.pencil {
  width: 25px;
}

span {
  font-size: 18px;
}
.randomImg {
  width: 90px;
  object-fit: cover;
}

@include mobile {
  h2 {
    width: 100%;
  }
  strong {
    width: 140px;
  }
  p {
    width: 250px;
  }
}